<!-- Initial selection fieldset -->

<fieldset class="init">
	<legend>What are you searching for?</legend>
		<dl>
			<dd><input type="radio" name="initial" value="courses" /><label>Courses</label></dd>
			<dd><input type="radio" name="initial" value="campus" /><label>Campus information</label></dd>
			<dd><input type="radio" name="initial" value="media" /><label>Media</label></dd>
			<dd><input type="radio" name="initial" value="support" /><label>Support information</label></dd>
			<dd><input type="radio" name="initial" value="apply" /><label>How to apply</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- "How To Apply" fieldset -->

<fieldset class="apply">
	<legend>What are you looking to apply for?</legend>
		<dl>
			<dd><input type="radio" name="applyfor" value="courses" /><label>Courses</label></dd>
			<dd><input type="radio" name="applyfor" value="finance" /><label>Student finance</label></dd>
			<dd><input type="radio" name="applyfor" value="support" /><label>Student support</label></dd>
			<dd><input type="radio" name="applyfor" value="jobs" /><label>Jobs</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- Subject searching fieldset -->

<fieldset class="subj init">
	<legend>Do you know the subject you want to apply for?</legend>
		<dl>
			<dd><input type="radio" name="applysubject" value="yes" /><label>Yes</label></dd>
			<dd><input type="radio" name="applysubject" value="no" /><label>No</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- Subject narrowing down fieldsets -->

<fieldset class="subj interest">
	<legend>What interests you?</legend>
		<dl>
			<dd><input type="checkbox" name="interests" value="art" /><label>Traditional Art</label></dd>
			<dd><input type="checkbox" name="interests" value="digital" /><label>Digital Art</label></dd>
			<dd><input type="checkbox" name="interests" value="performance" /><label>Performance</label></dd>
			<dd><input type="checkbox" name="interests" value="design" /><label>Design</label></dd>
			<dd><input type="checkbox" name="interests" value="crafts" /><label>Crafts</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<fieldset class="subj quals">
	<legend>What was your most recent qualification?</legend>
		<dl>
			<dd><input type="radio" name="quals" value="btec" /><label>BTEC</label></dd>
			<dd><input type="radio" name="quals" value="alevel" /><label>A-Level</label></dd>
			<dd><input type="radio" name="quals" value="aslevel" /><label>AS-Level</label></dd>
			<dd><input type="radio" name="quals" value="fd" /><label>Foundation Degree</label></dd>
			<dd><input type="radio" name="quals" value="nvq" /><label>NVQ</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- "Media" fieldset -->

<fieldset class="media">
	<legend>What kind of media are you interested in?</legend>
		<dl>
			<dd><input type="radio" name="media" value="videos" /><label>Videos</label></dd>
			<dd><input type="radio" name="media" value="photos" /><label>Photo Galleries</label></dd>
			<dd><input type="radio" name="media" value="casestudy" /><label>Case Studies</label></dd>
			<dd><input type="radio" name="media" value="testimonials" /><label>Testimonials</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- Subject lists (radio and checkbox types) -->

<fieldset class="subjcheck">
	<legend>Which subject are you looking for?</legend>
		<dl>
			<dd><input type="checkbox" name="subject" value="graphic" /><label>Graphic Design</label></dd>
			<dd><input type="checkbox" name="subject" value="digital" /><label>Digital Media</label></dd>
			<dd><input type="checkbox" name="subject" value="illust" /><label>Illustration</label></dd>
			<dd><input type="checkbox" name="subject" value="photo" /><label>Photographic Practice</label></dd>
			<dd><input type="checkbox" name="subject" value="fashion" /><label>Fashion Design</label></dd>
			<dd><input type="checkbox" name="subject" value="drama" /><label>Drama</label></dd>
			<dd><input type="checkbox" name="subject" value="music" /><label>Music</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<fieldset class="subjradio">
	<legend>Which subject are you looking for?</legend>
		<dl>
			<dd><input type="radio" name="subject" value="graphic" /><label>Graphic Design</label></dd>
			<dd><input type="radio" name="subject" value="digital" /><label>Digital Media</label></dd>
			<dd><input type="radio" name="subject" value="illust" /><label>Illustration</label></dd>
			<dd><input type="radio" name="subject" value="photo" /><label>Photographic Practice</label></dd>
			<dd><input type="radio" name="subject" value="fashion" /><label>Fashion Design</label></dd>
			<dd><input type="radio" name="subject" value="drama" /><label>Drama</label></dd>
			<dd><input type="radio" name="subject" value="music" /><label>Music</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- "About College" fieldset -->

<fieldset class="about init">
	<legend>What about the college are you interested in?</legend>
		<dl>
			<dd><input type="radio" name="about" value="facilities" /><label>About the facilities</label></dd>
			<dd><input type="radio" name="about" value="campus" /><label>About the campus</label></dd>
			<dd><input type="radio" name="about" value="staff" /><label>About the staff</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<fieldset class="about more">
	<legend>Anything specific?</legend>
		<dl>
			<dd><input type="checkbox" name="aboutcol" value="location" /><label>Location</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="gettingthere" /><label>How to get there</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="grounds" /><label>The campus grounds</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="todo" /><label>Things to do there</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="local" /><label>Local interests</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="events" /><label>Upcoming events</label></dd>
			<dd><input type="checkbox" name="aboutcol" value="contact" /><label>Contact details</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!-- "Support" fieldset -->

<fieldset class="support">
	<legend>Which kind of support are you looking for?</legend>
		<dl>
			<dd><input type="radio" name="support" value="financial" /><label>Financial Support</label></dd>
			<dd><input type="radio" name="support" value="personal" /><label>Personal Issues</label></dd>
			<dd><input type="radio" name="support" value="graduate" /><label>After Graduation</label></dd>
			<dd><input type="radio" name="support" value="general" /><label>General Support</label></dd>
			<dd><input type="radio" name="support" value="contact" /><label>Contacting Staff</label></dd>
			<dd><input type="submit" value="Next" /></dd>
		</dl>
</fieldset>

<!--
<fieldset>

	<legend>Sort By:</legend>

		<dl>

			<dd><input type="radio" name="filter" value="descending" /><label>Most recent first:</label></dd>
			<dd><input type="radio" name="filter" value="ascending" /><label>Most recent last:</label></dd>
			<dd><input type="submit" /></dd>

		</dl>

</fieldset>
-->