/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Common Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Navigation Styles
	#Media Queries
	#Font-Face
	#Misc (imported from Skeleton's base.css as they're useful in certain contexts)
==================================================

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

/* 14px/16px = 87.5% (14px target for body copy, 16px default display font size.) This rule is used by IE6 and lower to predictably scale type on displays. http://24ways.org/2006/compose-to-a-vertical-rhythm/ */
body {
	font-size: 87.5%;
	font-family: Georgia, "Times New Roman", sans-serif;
	line-height: 1.5em;
}

/* Direct font scaling declaration, used by Safari, Chrome, Firefox etc. */
html>body {
	font-size: 14px;
}

/* Defined line height of 1.5em (1.5 of default font size = 21px total) along with upper and lower paragraph margins of 1.5em to space paragraph blocks. !! Style moved to content-related stylesheets to use on body paragraphs.
p {
	margin: 1.5em 0;
}*/

/* @font-face declaration for Oswald Book is used primarily for all header and subheader text, as well as the navigation. "font-weight: normal" is used to ensure that the correct weight is applied to the header text on all browsers. */
h1, h2, h3, h4, h5, h6 {
	font-family: Oswald, "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 1.71428571em; /* 24px h1 size / 14px body size = 1.71428571em */
}

h2 {
	font-size: 1.42857143em; /* 20px h2 size / 14px body size = 1.42857143em */
}

h3 {
	font-size: 1.14285714em; /* 16px h3 size / 14px body size = 1.14285714em */
}

a {
	color: #00bff3;
	text-decoration: none;
	-webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
}

a:hover {
	color: #f0fcff;
}

/* Targeted typographic style overrides for the headers. */

header h1 {
	line-height: 1.3em;
	margin: 0px 0px 10px 10px;
}

header .searchbox h1 {
	line-height: 1em;
	margin: 10px 0px 0px 10px;
}

header h3 {
	margin: 10px 0px 0px 10px;
}

header h1, header h3 {
	color: #eee;
}

/* Targeted typographic style overrides for the navigation menu. */

nav {
	font-family: Oswald, "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 1.28571429em; /* 18px target nav font size / 14px body size = 1.28571429em */
}

nav ul ul {
	font-size: 14px; /* Set at px size as em scales each subnam proportional to its parent, an undesired effect. */
}

/* Targeted typographic styles for the footer. */

footer {
	color: #eee;
}

footer h1 {
	margin-bottom: 10px;
}

/* #Site Styles And Graphics
================================================== */

/* Background properties use the shorthand: color, URL, repeat direction, attachment location, position. Default position and repeat requires only the URL and optionally color declared. Color is declared for this site as well as background image, so that the correct design is displayed as images are loading. */

body {
	background: #313131 url('../img/bg_blue.png');
}

header {
	background: #fafafa url('../img/bg_white.png');
}

section {
	background: #e6e6e6 url('../img/bg_grey.png');
}

navigation, header, section {
	width: 100%;
}

/* "position: relative" and a zeroed z-index are used to set the header wrapper to the default position in the stacking order, so that the rest of the header elements and drop shadows can be positioned. */

header {
	position: relative;
	z-index: 1;
}

/* The container within the header is also given a zeroed z-index for stacking purposes. */

header .container {
	padding-bottom: 40px;
	position: relative;
	z-index: 0;
}

/* As the logo is supposed to sit on top of the headers, it is given a z-index of 1 to push it above anything with a default or zeroed z-index. "position: relative" is inherited from the pagecurl class, so there is no need to declare it here. */

.logo {
	width: 300px;
	height: 170px;
	background-color: #ddd;
	z-index: 1;
}

.header-big, .header-small {
	background: #313131;
}

.header-big {
	height: 200px;
	margin-top: -50px;
	position: relative;
}

.header-small {
	height: 90px;
	background: url('../img/bg_blue.png');
	margin-top: 20px;
	position: relative;
}

/* Styles used for all overlays on the focus news boxes and the main page headers. Unique styles for the different overlays are provided seperately. */

.overlay {
	/* width: 100%;
	background: rgba(0, 0, 0, 0.6); */
	position: absolute;
	bottom: 0;
}

/* Tested out CSS3 overlay transitions to see if it added to the visual style. While the design is enhanced with the transitions, I am concerned about usability, therefore I have left them off for the design. */

/*
.focus .overlay {
	opacity: 0.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; IE8 hack for opaciy
	filter: alpha(opacity = 0); IE 5-7 hack for opacity
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transform: opacity 0.15s ease-in-out;
}

.focus:hover .overlay {
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; IE8 hack for opaciy
	filter: alpha(opacity = 100); IE 5-7 hack for opacity
}
*/
.header-big .overlay, section .overlay {
	background: rgba(0, 0, 0, 0.6);
}

.header-big .overlay, .header-small .overlay {
	width: 100%;
}

section {
	position: relative;
	z-index: 0;
}

section .container {
	padding: 40px 0px;
}

section .overlay {
	width: inherit;
}

/* The header images live in their own div containers, and need to scale to fit their parent boxes without creating scrollbars. Since "overflow: none" hides the curl shadow if applied to the parent container, "overflow: none" needs to be set on the container holding the header image. This is necessary as there is no way to dynamically create a header image for each content without using head-embedded or inline styles. */

.backimage {
	width: auto;
	height: inherit;
	overflow: hidden;
}

/* Complete styles used for the footer. Footer is simple compared to the rest of the design, so there are not as many styles required to design the footer. */

footer {
	padding: 40px 0px;
}

footer .container div ul {
	list-style: none;
}

footer .container div:nth-child(2) ul {
	margin-top: 10px;
}

footer .container div:nth-child(2) li {
	margin-left: -10px;
	margin-right: 10px;
	float: left;
}

footer .container div:last-child ul {
	margin-top: 10px;
}

footer .container div:last-child li {
	float: left;
	margin-right: 10px;
}

/* Classes to style all universal fieldset items, for both indexes, search filters, and the search engine. */

fieldset dd {
	margin: 5px 0;
}

fieldset dd input[type="radio"] {
	width: 20px;
}

fieldset dd input[type="submit"] {
	float: right;
	cursor:pointer;
    width: 60px;
    height: 20px;
    background: #00bff3;
    border: 1px solid #3079ED;
    font-family: Georgia, "Times New Roman", sans-serif;
    color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

fieldset dd input[type="submit"]:hover {
    background: #f0fcff; /* #a6e3f4 old color */
    border: 1px solid #2F5BB7;
    color: #444;
}

fieldset dd label {
	vertical-align:text-top;
}

fieldset {
	border: 1px solid #ddd;
    margin: 1em 0 0 0;
    padding: 0 1em 0.5em 1em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

fieldset:hover {
	border: 1px solid #00bff3; /* #666666 old color */
	background-color: #f0fcff;
}

fieldset legend {
	color: #00bff3;
    font-size: 1.14285714em; /* 16px h3 size / 14px body size = 1.14285714em */
    font-weight: bold;
}

/* All styles for the drop shadows used on site elements. */

/* Styles used for the standard drop shadow used on the large page containers.
Syntax order is: (inset keyword), horizontal offset, vertical offset, blur radius, color (in RGBa or hex).   */
.dropshadow {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Styles used for the inset drop shadow, which is identical to the standard drop shadow used on the page containers except used as an inset at the top of the container. */
/*
.inset {
	-webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}
*/

/* Styles for container boxes that require both an inset and a drop shadow. Styles are chained with a comma to ensure they both load one after the other. */
/*
.doubleshadow {
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), inset 0 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3) inset 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), inset 0 5px 10px rgba(0, 0, 0, 0.3);
}
*/

/* Styles for the pagecurl drop shadow used on certain elements */
/* set shadow position as relative to its parent container for positioning */

.pagecurl {
	position:relative;
}

/* add invisible pseudo-elements before and after the shadow element for the corner drop shadows, set the z-index position so that it sits underneath the parent container, set the positioning to sit in the bottom left corner, and then add a box shadow to the pseudo-elements with light transparency for blending and visual style */

.pagecurl:before,
.pagecurl:after {
   	content: "";
   	position: absolute;
   	z-index: -1;
   	bottom: 11px; /* Original declaration was "bottom: 10px" however this created a small white line under the video player. +1px to remove the white line problem. Does not affect the rest of the design. */
   	left: 10px;
   	width: 50%;
   	height: 20%;
   	max-width: 300px; /* added to ensure that box does not expand too far on extra-wide elements */
   	-webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, 0.4);
   	-moz-box-shadow: 0 12px 5px rgba(0, 0, 0, 0.4);
   	box-shadow: 0 12px 5px rgba(0, 0, 0, 0.4);
   	-webkit-transform: rotate(-2deg);
   	-moz-transform: rotate(-2deg);
   	-o-transform: rotate(-2deg);
   	transform: rotate(-2deg);
}

/* override one of the pseudo-elements so that it sits in the bottom-right corner of the parent element, and flip the rotation so it is mirrored in look. */

.pagecurl:after{
   	right: 10px;
   	left: auto;
   	-webkit-transform: rotate(2deg);
   	-moz-transform: rotate(2deg);
   	-o-transform: rotate(2deg);
   	transform: rotate(2deg);
}

/* #Navigation Styles
================================================== */

/* All of the basic navigation menu structure classes go first, so we can see how to develop the basic functions of the menu before styling is added. Line height of 1em added to override the default 1.5em set on the body tag. "position: relative" and a very high z-index are used to push the navigation to the top of the stacking order. */
nav {
	height: 40px;
	line-height: 1em;
	position: relative;
	z-index: 9999;
}

/* (nav ul ul) targets and hides all child elements of the primary menu, leaving just the primary menu visible. */
nav ul ul {
	display: none;
}

/* On hover of any elements, return elements to "display: block" to bring them back to visibility. The > child selector ensures that only the child of the element being hovered over is displayed, otherwise the whole hierarchy of submenus becomes visible. */
nav ul li:hover > ul {
	display: block;
}

/* Float main options in menu to left of container. Padding is added to extend the clickable area and link it to the hover targets of the child menus. */
nav ul li {
	float: left;
	padding: 10px 20px 10px 0px;
}

/* Position the main navigation options relatively, so that the submenus can be placed absolutely. */
nav ul {
	position: relative;
	display: inline-table;
}

/* Clearfixes all primary navigation links so that they don't interfere with the rest of the design. */
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

/* Display all the primary navigation links as blocks, so that the whole block rather than just the link can be hovered over, triggering submenus. */
nav ul li a {
	display: block;
}

/* Position all subnavigation links absolutely so they don't move the primary links around the page. "white-space: nowrap" ensures there is no word wrapping on the submenu links, and that the submenus shrink to fit their content. a "min-width: 100px" declaration is used to force the width of the child menus to at least 100px in width for usability. */
nav ul ul {
	position: absolute;
	top: 100%;
	white-space: nowrap;
	min-width: 100px;
}

/* Remove floating from all submenu items so they stack on top of each other, and change their position attribute. */
nav ul ul li {
	float: none;
	position: relative;
}

/* The sub-submenus are positioned absolutely and moved over to the right of their parents. */
nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

/* Small hack to push the first child menu up two pixels, and another hack to remove the -2px margin top from being inherited by the second level child menus. Fixes the 2px deadzone problem under the primary menu items until the correct solution is found. */
nav ul ul {
	margin-top: -2px;
}

nav ul ul ul {
	margin-top: 0px;
}

/* All of the navigation menu styling classes go after, so we can separate styling from structure. In production environments, both styling and structure would be kept together to keep the size of the CSS file small, but for this project we'll keep everything separate so we can see how things work. */

/* Hyperlink color change state - the > child selector ensures only the selected child changes color, otherwise the whole hyperlink tree underneath the primary menu link changes color. */
nav ul li:hover > a {
	color: #f0fcff;
}

/* Align all child menu text centrally to its container, for better design. */
nav ul ul a {
	text-align: center;
}

/* Adding margins and background to the child menus, and removing inherited margin sizes from the parent menu. */
nav ul ul li {
	margin: 0px;
	padding: 10px;
	background: #313131 url('../img/bg_blue.png');
}

/* A class is added to the last element in the navigation, the How To Apply button, and all states and background colors are overridden so that the menu item can be styled for emphasis. */
nav .apply {
	padding: 10px 10px 12px 10px;
	background-color: #00bff3;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

nav .apply a {
	color: #fff;
}

nav .apply:hover {
	background-color: #f0fcff;
}

nav .apply:hover a {
	color: #444;
}

/* Set dropdown menu for mobile devices hidden with no height or width to ensure it does not disrupt the layout of the navigation bar. */
nav select {
	visibility: hidden;
	height: 0;
	width: 0;
}

nav .navsearch {
	min-width: auto;
	height: auto;
	margin: -12px 10px 0px 0px;
	float: right;
	visibility: hidden;
}

/* #Media Queries
================================================== */

	/* Media query to target retina iPads - this code is not in Skeleton natively, and was taken from a discussion thread at Stack Overload: http://stackoverflow.com/questions/9780189/retina-ipad-specific-css */
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		nav ul {
			visibility: hidden;
			width: 0;
			height: 0;
		}

		nav select {
			visibility: visible;
			width: 50%;
			height: auto;
			margin: 10px 0px 0px 10px;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		/* These styles control how content is displayed on smaller displays, specifically anything smaller than a portrait-oriented iPad. The portrait orientation is targeted because it is the largest non-landscape viewport for mobile devices - the landscape orientation of the iPad can still be served with a slightly modified version of the desktop design. */

		nav ul {
			visibility: hidden;
			width: 0;
			height: 0;
		}

		nav select {
			visibility: visible;
			width: 50%;
			height: auto;
			margin: 10px 0px 0px 0px;
		}

		footer {
			padding: 20px 0px;
		}

		footer .column {
			margin: 20px 0px;
		}

		nav .navsearch {
			visibility: visible;
			margin: -20px 0px 0px 0px;
		}

		.header-small .overlay {
			width: 100%;
			position: static;
		}

		.header-small {
			height: inherit;
		}

		/*
		h1 {
			line-height: 1.2em;
		}
		*/
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*
@font-face {
    font-family: 'Oswald';
    src: url('oswald-regular-webfont.eot');
    src: url('oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-regular-webfont.woff') format('woff'),
         url('oswald-regular-webfont.ttf') format('truetype'),
         url('oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Oswald';
    src: url('oswald-light-webfont.eot');
    src: url('oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-light-webfont.woff') format('woff'),
         url('oswald-light-webfont.ttf') format('truetype'),
         url('oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* #Misc
(imported from Skeleton's base.css as they're useful in certain contexts, slightly modified to include both margin and padding removal.)
================================================== */

.remove-bottom-margin {
	margin-bottom: 0 !important;
}

.half-bottom-margin {
	margin-bottom: 10px !important;
}

.add-bottom-margin {
	margin-bottom: 20px !important;
}

.remove-bottom-padding {
	padding-bottom: 0 !important;
}

.half-bottom-padding {
	padding-bottom: 10px !important;
}

.add-bottom-padding {
	padding-bottom: 20px !important;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}