/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Unique Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Media Queries
	#Font-Face

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

body {
	font-size: 87.5%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: -1px;
	line-height: 1.5em;
	font-weight: normal;
}

html>body {
	font-size: 14px;
}

/* Defined line height of 1.5em (1.5 of default font size = 21px total) along with upper and lower paragraph margins of 1.5em to space paragraph blocks. !! Style moved to content-related stylesheets to use on body paragraphs.*/
p {
	margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, header span {
	font-family: Oswald, "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 1.71428571em; /* 24px h1 size / 14px body size = 1.71428571em */
	margin-bottom: 0.25em;
}

h2 {
	font-size: 1.42857143em; /* 20px h2 size / 14px body size = 1.42857143em */
}

h3 {
	font-size: 1.14285714em; /* 16px h3 size / 14px body size = 1.14285714em */
}

/* #Site Styles And Graphics
================================================== */

body {
	background: #e6e6e6 url('../img/bg_grey.png');
}

h1, h2, h3, h4, h5, h6, header span, footer {
	color: #eee;
}

.wrapper {
	margin: 20px auto;
}

header, section {
	margin-bottom: 20px !important;
}

header, footer {
	background: #313131 url('../img/bg_blue.png');
}

header div, footer div {
	padding: 20px 10px;
}

section div {
	background: #fafafa url('../img/bg_white.png');
	padding: 10px 0px !important;
}

/* float all list items to the left, remove the bullets, and set some margins and padding to space everything apart. */
aside li {
	float: left;
	margin: 5px 5px;
	padding: 0;
	list-style: none;
	position: relative;
}

/* Float the images left as well, and set up a CSS3 transition to animate the transform of the scale of images by 1.5x on hover. */
aside li a img {
	float: left;
	height: auto;
	width: 220px;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	-moz-transition: -moz-transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
}

/* Specify a small dropshadow on the simple thumbnails. */
aside li a img {
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.dropshadow {
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	padding: 10px !important;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

dl {
	margin-bottom: 1.5em;
}

dt {
	font-weight: bold;
}

dd:before {
	content: "- ";
}

/* #Media Queries
================================================== */

	/* Retina display detection - can change @media all to @media only screen */
	@media all and (-webkit-min-device-pixel-ratio: 2) { }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		aside li a img {
			height: auto;
			width: 172px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		aside li a img {
			height: auto;
			width: 200px;
		}
		article p, article dl {
			margin: 0 10px 10px 10px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		aside li a img {
			height: auto;
			width: 140px;
		}
		article p, article dl {
			margin: 0 10px 10px 10px;
		}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'Oswald';
    src: url('oswald-light-webfont.eot');
    src: url('oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-light-webfont.woff') format('woff'),
         url('oswald-light-webfont.ttf') format('truetype'),
         url('oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}