/************************************************************************
/ Styles for testing site layout
/************************************************************************/

body {
	background-color: #333;
}

a {
	color: #ddd;
}

nav {
	width: 960px;
	background-color: #555;
	margin: 0 auto;
	height: 30px;
}

/* (nav ul ul) targets and hides all child elements of the primary menu */
nav ul ul {
	display: none;
}

/* on hover of any elements, return elements to display: block to bring them back to visibility */
nav ul li:hover > ul {
	display: block;
}

/* float main options in menu to left of container */
nav ul li {
	float: left;
}

/* add margin to top and left of all elements to move them */
nav ul li {
	margin: 7px 40px 0px 0px;
}

/* position main navigation options relative so that the submenus can be placed absolutely */
nav ul {
	position: relative;
	display: inline-table;
}

/* clearfixes all primary navigation links so that they don't interfere with the rest of the design */
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

/* display all the primary navigation links as blocks */
nav ul li a {
	display: block;
}

/* position all subnavigation links absolutely so they don't move the primary links around the page */
nav ul ul {
	position: absolute;
}

/* remove floating from all submenu items so they stack on top of each other, and change their position attribute.
(sub-sub menus still need to be moved across so they sit to the right of their parent menus. */
nav ul ul li {
	float: none;
	position: relative;
}

/* the sub-submenus are positioned absolutely and moved over to the right of their parents. */
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}

/* To style the menu:

nav ul {
	targets the primary menu
}

nav ul li:hover {
	primary menu hover state
}

nav ul li a {
	primary menu link color
}

nav ul ul {
	submenu and child menus
}

nav ul ul li a {
	submenu link color and hover state
} */