/************************************************************************
/ Styles for testing site layout
/************************************************************************/

body {
	background-color: #333;
}

nav, footer {
	width: 960px;
	background-color: #555;
}

nav, footer, .container {
	margin: 0 auto;
}

nav {
	height: 30px;
}

header, section {
	width: 100%;
	height: 500px;
}

header {
	background-color: #efefef;
}

section {
	background-color: #ddd;
}

footer {
	height: 300px;
}