/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Unique Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Media Queries

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

/* #Site Styles And Graphics
================================================== */

/* Height added to wrapping div to remove the small space that appears under the video, and pushes the pagecurl down. Resizing declarations have to be added to the media queries to do the same for smaller sizes. */
.media {
	height: 529px;
}

/* Width set to 100% and height scales automatically, to make HTML5 video fit to maximum width of video container. */
video {
   width: 100%;
   max-width: 940px;
   height: auto;
}

/* #Media Queries
================================================== */

	/* Retina display detection - can change @media all to @media only screen */
	@media all and (-webkit-min-device-pixel-ratio: 2) { }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.media {
			height: 421px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.media {
			height: 236px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.media {
			height: 169px;
		}
	}