/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Unique Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Media Queries

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

/* #Site Styles And Graphics
================================================== */

/* float all list items to the left, remove the bullets, and set some margins and padding to space everything apart. */
.gallery li {
	float: left;
	margin: 10px 10px;
	padding: 0;
	list-style: none;
	height: 110px;
	position: relative;
}

/* Float the images left as well, and set up a CSS3 transition to animate the transform of the scale of images by 1.5x on hover. */
.gallery li a img {
	float: left;
	width: 135px;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	-moz-transition: -moz-transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
}

/* A specific override for the ".content" class that holds the gallery images. */
.gallery .content {
	padding: 10px 0 0 0 !important;
}

/* Specify a small dropshadow on the simple thumbnails. */
.gallery li a img {
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* On hover, scale the images by 1.5x from the center (bringing the size of the image to around 200px), increase the box shadow size and blur to compensate, and also set the image to relative position with a z-index of 1 to bring the image above the other thumbnails around it. */
.gallery li a:hover img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 1;
}

/* #Media Queries
================================================== */

	/* Retina display detection - can change @media all to @media only screen */
	@media all and (-webkit-min-device-pixel-ratio: 2) { }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* These overrides ensure that the thumbnails tile correctly across the .content container at smaller resolutions, and allow for the correct spacing between each row of thumbnails. */
		.gallery li a img {
			width: 129px;
		}

		.gallery li {
			height: 100px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.gallery li a img {
			width: 120px;
		}

		.gallery li {
			height: 90px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.gallery li a img {
			width: 130px;
		}

		.gallery li {
			height: 100px;
		}
	}