/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Unique Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Media Queries

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

.content h1 {
	line-height: 1.75em;
	margin-bottom: 0.875em; /* 21px line height / 24px h1 size = 0.875em. Set on lower margin only to push content down. */
	margin-top: 0.875em;
}

.content h2 {
	line-height: 1.25em; /* 21px line height / 20px h2 size = 1.05em. Extra 0.2em added for visual balance. */
	margin-top: 2.1em; /* Doubled to compensate for zeroed lower margin. */
	/* margin-bottom: 1.05em; */
	/* margin-top: 1.45em; */
}

.content p {
	/* em spacing is applied to upper margin only to preserve lower margin. */
	margin: 1.5em 0 1.5em 0;
	font-size: 1em;
}

/* Site styles for the three focus news boxes underneath the testimonials/alerts. These control spacing between header and paragraph elements used in the focus boxes. */

.focus {
	color: #eee;
}

.focus h1 {
	line-height: 1.3em;
}

.focus h3 {
	margin-top: 10px;
}

.focus h1, .focus h3 {
	margin-left: 10px;
}

.focus p {
	margin: 0px 10px 10px 10px;
}

/* #Site Styles And Graphics
================================================== */

.content {
	background: #fafafa url('../img/bg_white.png');
	padding: 10px;
}

/* Graphic styles for the focus box. */
.focus {
	height: 200px;
	position: relative;
}

/* Styling for the pagination list. */
.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}

.pagination a {
	border: solid 1px #ddd;
	margin-right: 2px;
	font-weight: bold;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pagination .previous-off, .pagination .next-off {
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

.pagination .next a, .pagination .previous a {
	font-weight: bold;
	/* border: solid 1px #FFFFFF; */
}

.pagination .active{
	/* color: #ff0084; */
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}

.pagination a:link, .pagination a:visited {
	color: #00bff3;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination a:hover{
	border: solid 1px #00bff3; /* #666666 old color */
	background-color: #f0fcff;
}

nav .navsearch {
	visibility: visible;
	margin: -12px 0px 0px 0px;
}

/* #Media Queries
================================================== */

	/* Retina display detection - can change @media all to @media only screen */
	@media all and (-webkit-min-device-pixel-ratio: 2) {}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.focus {
			margin-bottom: 20px;
		}

		.focus:last-child {
			margin-bottom: 0px !important;
		}

		section .container {
			padding: 0 0 20px 0 !important;
		}

		section .container:first-child {
			padding-top: 40px !important;
		}

		nav .navsearch {
			visibility: visible;
			margin: -20px 0px 0px 0px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}