/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Skeleton v1.2 Unique Styles framework adapted by Thanh Luong Simon Coong (student 58489) for use with the Newcastle Creative Industries website (NCI 448: Interface Design and NCI 410: Digital Skills Acquisition). */

/* Table of Content
==================================================
	#Typography
	#Site Styles And Graphics
	#Media Queries

/* #Typography
================================================== */

/* Scaling hierarchy for this site:
 * Body copy - 14px
 * Sidebar copy: 11px to 12px (lighter color than body)
 * Header 1: 24px;
 * Header 2: 20px;
 * Header 3: 16px;
 * Line heights: 1.5x (21px)
 *
 * All heights are calculated by dividing the target height by the baseline font size, in this case, 14px.
 */

/* Site styles for the three focus news boxes underneath the testimonials/alerts. These control spacing between header and paragraph elements used in the focus boxes. */

.focus {
	color: #eee;
}

.focus h1 {
	line-height: 1.3em;
}

.focus h3 {
	margin-top: 10px;
}

.focus h1, .focus h3 {
	margin-left: 10px;
}

.focus p {
	margin: 0px 10px 10px 10px;
}

/* Site styles used in the alerts box. These control spacing between text elements, as well as create and place the alert icon on top of the alert box itself. */

.alert h1 {
	line-height: 1.3em;
}

.alert h3 {
	margin-top: 10px;
}

.alert div p {
	margin-top: 1em;
}

/* Typographic styles for the testimonials. Pseudo-elements :before and :after are used to insert the quote marks and position them in the right place. */

.testimonial {
	padding: 20px 0px;
	font-style: italic;
	font-size: 28px;
	text-align: center;
	line-height: 1.2em;
	color: #555;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	position: relative;
}

.testimonial:before, .testimonial:after {
	content: '“';
   	position: absolute;
   	z-index: -1;
   	font-size: 300px;
   	color: #ccc;
   	text-shadow: none;
}

.testimonial:before {
	content: '“';
   	top: 120px;
   	left: -80px;
}

.testimonial:after {
	content: '”';
   	bottom: -40px;
   	right: -40px;
}

.testimonial-author {
	font-size: 14px;
	text-align: right;
	color: #555;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* #Site Styles And Graphics
================================================== */

.header-home {
	background: #313131;
	height: 320px;
	margin-top: -50px;
}

/* Styles for the homepage searchbox, which control positioning and display of the search box itself. The main issue is that Gecko and Webkit have different ideas on how to render the search field - Webkit renders a search input the same way as it appears in the OS, while Gecko allows you to directly style the search input. To get around this, we have to use a text input field instead, as they can be directly styled in both types of browsers. There should be a fallback in IE which needs to be checked. */

.searchbox {
	width: 460px;
	position: absolute;
	z-index: 1;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
	left: 50%;
	margin-left: -230px;
	top: 50%;
	margin-top: -40px;
	/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/
}

.searchbox h1 {
	text-align: right;
}


.searchbox input[type="text"] {
	float: left;
	width: 360px;
    height: 27px;
    line-height: 27px;
    text-indent: 10px;
    font-family: arial, sans-serif;
    font-size: 1em;
    color: #333;
    background: #fff;
    border: solid 1px #d9d9d9;
    border-top: solid 1px #c0c0c0;
    border-right: none;
    /*
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/
}

/* Style the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE. */
.searchbox input[type="submit"] {
    cursor:pointer;
    width:75px;
    height: 31px;
    margin-left: 10px;
    line-height:0;
    font-size:0;
    text-indent:-999px;
    color: transparent;
    background: #00bff3 url('../img/find.png') no-repeat center;
    border: 1px solid #3079ED;
    -webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

/* Style the search button hover state with same icon and uniform site colour palette. */
.searchbox input[type="submit"]:hover {
    background: #f0fcff url('../img/find.png') no-repeat center; /* #a6e3f4 old color */
    border: 1px solid #2F5BB7;
}

/* Graphic styles for the alert box. Color, placement and margins/padding are set here. */
.alert div {
	margin: 10px 10px 10px 100px;
}

.alert {
	position: relative;
	background: #9e0b0f;
	color: #ddd;
}

.alert img {
	position: absolute;
	z-index: 1;
	left: -80px;
	top: 20px;
}

/* Graphic styles for the focus box. */
.focus {
	height: 200px;
	position: relative;
}

/* #Media Queries
================================================== */

	/* Retina display detection - can change @media all to @media only screen */
	@media all and (-webkit-min-device-pixel-ratio: 2) {}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.searchbox h1 {
			line-height: 1em;
			margin: 5px 0px;
		}

		.searchbox {
			width: 300px;
			left: 50%;
			margin-left: -160px;
			top: 50%;
			margin-top: -40px;
		}

		.searchbox input[type="text"], .searchbox input[type="submit"] {
			display: none;
		}

		.focus {
			margin-bottom: 20px;
		}

		.focus:last-child {
			margin-bottom: 0px !important;
		}

		.alert img {
			display: none;
		}

		.alert div {
			margin: 10px 10px 10px 10px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}