@charset "UTF-8";
/* CSS Document */

/* Contents
/* 1) Clearfix
/* 2) Structure
/* 3) Baseline Grid & Typographic Style
/* 4) Visual Styles

/* ----------------------------------------------------------------------------------------------------
/  1) Clearfix (http://www.webtoolkit.info/css-clearfix.html)
/* ----------------------------------------------------------------------------------------------------*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	/* display: inline-block; */ /* hiding display attribute as it breaks site design */
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* ----------------------------------------------------------------------------------------------------
/  2) Site Structure
/* ----------------------------------------------------------------------------------------------------*/

section, header {
	width: 100%;
}

.navigation, footer, section .container, header .container {
	width: 960px;
	margin: 0 auto;
	background-color: #ddd;
	clear: both;
	border: 1px solid #000;
}

.navigation {
	height: 30px;	
}

footer, section .container, header .container {
	height: 100%;
	padding: 20px 0px;
}

nav {
	width: 620px;
	float: left;
	margin-left: 10px;
}

.one-third {
	width: 300px;
	float: left;
	background-color: #ddd;
	margin: 0px 10px;
}

.two-thirds {
	width: 620px;
	float: left;
	background-color: #ddd;
	margin: 0px 10px;
}

/* ----------------------------------------------------------------------------------------------------
/  3) Baseline Grid & Typographic Styles
/* ----------------------------------------------------------------------------------------------------*/

html>body {
	font-size: 100%; /* defaults to 16px on all browsers */
}

body {
	font-size: 75%;	/* sets all body copy to 12px */
	font-family: Georgia, "Times New Roman", serif;	
}

p {
	line-height: 1.5em; /* line height is set to 1.5x of body = 18px blocks */
}

/* ----------------------------------------------------------------------------------------------------
/  4) Visual Styles
/* ----------------------------------------------------------------------------------------------------*/